<div id="page-wrapper" class="sign-in-wrapper">
  <div class="graphs">
    <div class="sign-up">
      <h1>TẠO TÀI KHOẢN MỚI</h1>
      <p class="creating">Đăng ký tài khoản để bạn có thể đăng bài, tài khoản bạn chờ quản trị xác thực trong 24h.</p>
      <h2>Thông tin người dùng</h2>
      <form [formGroup]="createUserForm" (ngSubmit)="submitForm(createUserForm.value)">
        <div class="sign-u">
          <div class="sign-up1">
            <h4>Email* :</h4>
          </div>
          <div class="sign-up2">
            <input formControlName="email" type="text" placeholder=" " required=" " />
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="sign-u">
          <div class="sign-up1">
            <h4>Mật khẩu* :</h4>
          </div>
          <div class="sign-up2">
            <input formControlName="password" type="text" placeholder=" " required=" " />
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="sign-u">
          <div class="sign-up1">
            <h4>Họ tên* :</h4>
          </div>
          <div class="sign-up2">
            <input formControlName="fullName" type="text" placeholder=" " required=" " />
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="sign-u">
          <div class="sign-up1">
            <h4>Số điện thoại* :</h4>
          </div>
          <div class="sign-up2">
            <input formControlName="phoneNumber" type="text" placeholder=" " required=" " />
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="sub_home">
          <div class="sub_home_left">
            <input type="submit" value="Gửi">
          </div>
          <div class="sub_home_right">
            <p>Quay lại <a (click)="toHome()"> trang chủ</a></p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </form>
    </div>
  </div>
</div>
