<div class="total-ads main-grid-border">
  <div class="container">
    <div class="select-box">
      <app-sorts></app-sorts>
      <div class="clearfix"></div>
    </div>
    <ol class="breadcrumb" style="margin-bottom: 5px;">
      <li><a href="index.html">Home</a></li>
      <li><a href="categories.html">Categories</a></li>
      <li class="active">Services</li>
    </ol>
    <div class="ads-grid row">
      <div class="side-bar col-md-3">
        <div class="search-hotel">
          <h3 class="sear-head">Name contains</h3>
          <form>
            <input type="text" value="Product name..." onfocus="this.value = '';"
              onblur="if (this.value == '') {this.value = 'Product name...';}" required="">
            <input type="submit" value=" ">
          </form>
        </div>

        <div class="range">
          <h3 class="sear-head">Price range</h3>
        </div>
        <h2 class="sear-head fer">Featured Ads</h2>
        <mat-card>
          <div class="row">
            <div class="col-md-6 ">
              <img src="../../assets/images/f1.jpg" title="ad image" alt="" />
            </div>
            <div class="col-md-6 featured-ad-right">
              <h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
              <p>$ 450</p>
            </div>q
          </div>
        </mat-card>
      </div>
      <div class="ads-display col-md-9">
        <div class="wrapper">
          <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
            </ul>
            <div id="myTabContent" class="tab-content">
              <mat-tab-group animationDuration="0ms">
                <mat-tab label="First">
                  Content 1
                  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
                </mat-tab>
                <mat-tab label="Second">Content 2</mat-tab>
                <mat-tab label="Third">Content 3</mat-tab>
              </mat-tab-group>

            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
