<div class="total-ads main-grid-border" *ngIf="products.length>0;else spinner">
  <div class="container">
    <div class="select-box">
      <app-sorts></app-sorts>
      <div class="clearfix"></div>
    </div>
    <ol class="breadcrumb" style="margin-bottom: 5px;">
      <li><a href="index.html">Home</a></li>
      <li><a href="categories.html">Categories</a></li>
      <li class="active">Services</li>
    </ol>
    <div class="ads-grid row">
      <div class="side-bar col-md-3">
        <div class="search-hotel">
          <h3 class="sear-head">Tìm kiếm sản phẩm</h3>
          <form>
            <input type="text" value="Product name..." onfocus="this.value = '';"
              onblur="if (this.value == '') {this.value = 'Product name...';}" required="">
            <input type="submit" value=" ">
          </form>
        </div>

        <div class="range">
          <h3 class="sear-head">Price range</h3>
        </div>
        <h2 class="sear-head fer">Sản phẩm nổi bật</h2>
        <mat-card>
          <div class="row">
            <div class="col-md-6 ">
              <img src="../../assets/images/f1.jpg" title="ad image" alt="" />
            </div>
            <div class="col-md-6 featured-ad-right">
              <h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
              <p>$ 450</p>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="ads-display col-md-9">

        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
          <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
          </ul>
          <div id="myTabContent" class="tab-content">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="Tất cả sản phẩm">
                <div class="wrapper">
                  <div class="content">
                    <!-- content here -->
                    <div class="product-grid__wrapper">
                      <div class="product-grid__product-wrapper" *ngFor="let item of products">
                        <!-- <div  style="height:300px" class="product-grid__product">
                          <div class="product-grid__img-wrapper" style="height: 200px; overflow: hidden;">
                            <img [src]=item.image class="product-grid__img" />
                          </div>
                          <span class="product-grid__title" style="height:30px;overflow: hidden;">
                            <p>{{item.subject}}</p>
                          </span>
                          <span class="product-grid__price" style="height:20px">{{item.price}}</span>
                          <div class="product-grid__extend-wrapper" style="height:50px">
                            <div class="product-grid__extend">
                              <span class="product-grid__btn product-grid__add-to-cart"><i
                                  class="fa fa-cart-arrow-down"></i> Thêm giỏ hàng</span>
                              <span class="product-grid__btn product-grid__view" (click)="viewDetail(item._id)"><i
                                  class="fa fa-eye"></i> Xem </span>
                            </div>
                          </div>
                        </div> -->
                        <div id="login-container">
                          <div class="profile-img"></div>
                          <img style="width: 100%; height:150px" [src]=item.image class="product-grid__img" />
                          <div class="description">
                            <p>{{item.subject}}</p>
                          </div>
                          <div class="social">
                            {{item.price}}
                          </div>
                          <button (click)="viewDetail(item._id)">Xem sản phẩm</button>
                          <footer>
                            <div class="likes">
                              <p class="like-product"> <i class='fa fa-heart'></i></p>
                              <p>1.5K</p>
                            </div>
                            <div class="projects">
                              <p>Projects</p>
                              <p>154</p>
                            </div>
                          </footer>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Xem theo danh sách">Xem theo danh sách</mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <app-paginator (emitPaginator)="paginatorValue($event)"></app-paginator>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner-wrapper">
    <ngx-spinner type="ball-fussion" bdColor="rgba(0,0,0,0)" color="rgb(22, 193, 243)" [fullScreen]="false">
    </ngx-spinner>
  </div>
</ng-template>
