<div class="total-ads main-grid-border" *ngIf="loadedSpinner else spinner">
  <div class="container">
    <div class="select-box">
      <app-sorts (emitProducts)="receiveProduct($event)"></app-sorts>
      <div class="clearfix"></div>
    </div>
    <div class="all-categories">
      <h3> Chọn danh mục bạn tìm</h3>
      <ul class="all-cat-list">
        <li><a href="mobiles.html">Điện thoại <span class="num-of-ads">(5,78,076)</span></a></li>
        <li><a href="electronics-appliances.html">Điện tử & Thiết bị <span class="num-of-ads">(3,66,495)</span></a></li>
        <li><a href="real-estate.html">Bất động sản <span class="num-of-ads">(45,450)</span></a></li>
        <li><a href="furnitures.html">Đồ nội thất <span class="num-of-ads">(1,77,145)</span></a></li>
        <li><a href="pets.html">Thú cưng <span class="num-of-ads">(1,81,250)</span></a></li>
        <li><a href="books-sports-hobbies.html">Sách & Thể thao <span class="num-of-ads">(66,822)</span></a></li>
        <li><a href="fashion.html">Thời trang <span class="num-of-ads">(29,156)</span></a></li>
        <li><a href="kids.html">Trẻ em <span class="num-of-ads">(25,699)</span></a></li>
        <li><a href="services.html">Dịch vụ <span class="num-of-ads">(2,15,895)</span></a></li>
        <li><a href="cars.html">Ô tô <span class="num-of-ads">(2,15,306)</span></a></li>
      </ul>
    </div>
    <ol class="breadcrumb" style="margin-bottom: 5px;">
      <li><a >Trang chủ / </a></li>
      <li><a [routerLink]="['/']"> Danh mục / </a></li>
      <li class="active"><a  [routerLink]="['/']">{{nameCategory}}</a></li>
    </ol>
    <div class="ads-grid row">
      <div class="side-bar col-md-3">
        <div class="search-hotel">
          <h3 class="sear-head">Tìm kiếm sản phẩm</h3>
          <form>
            <input type="text" value="Product name..." onfocus="this.value = '';"
              onblur="if (this.value == '') {this.value = 'Product name...';}" required="">
            <input type="submit" value=" ">
          </form>
        </div>

        <h2 class="sear-head fer">Sản phẩm nổi bật</h2>
        <mat-card>
          <div class="row">
            <div class="col-md-6 ">
              <img src="../../assets/images/f1.jpg" title="ad image" alt="" />
            </div>
            <div class="col-md-6 featured-ad-right">
              <h4>Đây là sản phẩm hiện tại dược nhiều người quan tâm.</h4>
              <p>4.500.000 </p>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="ads-display col-md-9">

        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
          <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
          </ul>
          <div id="myTabContent" class="tab-content">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="Tất cả sản phẩm">
                <div class="wrapper">
                  <div class="content">
                    <div class="product-grid__wrapper">
                      <div id="container">
                        <div class="sort">
                          <div class="sort-by">
                            <label>Lọc theo giá : </label>
                            <select (change)="sortByPrice($event.target.value)">
                              <option value="">Chọn giá</option>
                              <option value="1">Giá: Từ thấp đến cao</option>
                              <option value="2">Giá: Từ cao xuống thấp</option>
                            </select>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="list">
                          <div *ngFor="let item of products" (click)="viewDetail(item._id,item.ward_id)" style="cursor: pointer;">
                            <li class="d-flex">
                              <img [src]=item.image title="" alt="" />
                              <section class="list-left">
                                <h5 class="title">{{item.subject}}</h5>
                                <span class="adprice" >{{item.price}} ₫</span>
                                <p class="catpath">Danh mục » {{nameCategory}}</p>
                              </section>
                              <section class="list-right ">
                                <span class="date">Ngày đăng: {{item.date| date:' dd-MM-yyyy '}}</span>
                                <span class="cityname" style="font-size: 13px;">{{item.titleWard}} -
                                  {{item.titleCity}}</span>
                              </section>
                              <div class="clearfix"></div>
                            </li>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Xem theo danh sách">Xem theo danh sách</mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <app-paginator (emitPaginator)="paginatorValue($event)"></app-paginator>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner-wrapper">
    <ngx-spinner type="ball-fussion" bdColor="rgba(0,0,0,0)" color="rgb(22, 193, 243)" [fullScreen]="false">
    </ngx-spinner>
  </div>
</ng-template>
