<div class="content" *ngIf="categoriesLevel1.length>0;else spinner">
  <div class="categories">
    <div class="container row">
      <div class="col-md-2 focus-grid" *ngFor="let item of categoriesLevel1">
        <div class="focus-border" (click)="getAllProductItem(item._id)">
          <div class="focus-layout">
            <div class="focus-image"><i class={{item.icon}}></i></div>
            <h4 class="clrchg">{{item.name}}</h4>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mobile-app">
    <div class="container">
      <div class="col-md-5 app-left">
        <a href="mobileapp.html"><img src="images/app.png" alt=""></a>
      </div>
      <div class="col-md-7 app-right">
        <h3>Resale App is the <span>Easiest</span> way for Selling and buying second-hand goods</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor Sed bibendum varius euismod. Integer
          eget turpis sit amet lorem rutrum ullamcorper sed sed dui. vestibulum odio at elementum. Suspendisse et
          condimentum nibh.</p>
        <div class="app-buttons">
          <div class="app-button">
            <a href="#"><img src="images/1.png" alt=""></a>
          </div>
          <div class="app-button">
            <a href="#"><img src="images/2.png" alt=""></a>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<ng-template #spinner>
  <div class="spinner-wrapper">
    <ngx-spinner type="ball-fussion" bdColor="rgba(0,0,0,0)" color="rgb(22, 193, 243)" [fullScreen]="false">
    </ngx-spinner>
  </div>
</ng-template>
