<footer>
  <div class="footer-top">
    <div class="container">
      <div class="foo-grids row">
        <div class="col-md-3 footer-grid">
          <h4 class="footer-head">Chúng tôi là  ai ?</h4>
          <p>Chào mừng quý khách hàng đến với Resales.</p>
          <p>Đây là chợ thương mại điện tử.</p>
        </div>
        <div class="col-md-3 footer-grid">
          <h4 class="footer-head">Help</h4>
          <ul>
            <li><a href="howitworks.html">Câu hỏi thường gặp</a></li>
            <li><a href="sitemap.html">Gửi yêu cầu hỗ trợ</a></li>
            <li><a href="faq.html">Hướng dẫn đăng ký</a></li>
            <li><a href="feedback.html">Hướng dẫn đăng sản phẩm.</a></li>
            <li><a href="contact.html">Hỗ trợ khách hàng: datndd@gmail.com</a></li>
            <li><a href="typography.html">Báo lỗi bảo mật: datndd@gmail.com</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-grid">
          <h4 class="footer-head">Thông tin</h4>
          <ul>
            <li><a href="regions.html">Truy cập map</a></li>
            <li><a href="terms.html">Thông tin về chúng tôi</a></li>

          </ul>
        </div>
        <div class="col-md-3 footer-grid">
          <h4 class="footer-head">Liên hệ chúng tôi</h4>
          <span class="hq">Hân hạnh phục vụ</span>
          <address>
            <ul class="location">
              <li><span class="material-icons">
                location_on
                </span></li>
              <li>Trường DH SPKT TP.HCM</li>
              <div class="clearfix"></div>
            </ul>
            <ul class="location">
              <li><span class="material-icons">
                local_phone
                </span></li>
              <li>0977431825</li>
              <div class="clearfix"></div>
            </ul>
            <ul class="location">
              <li><span class="material-icons">
                drafts
                </span></li>
              <li><a href="mailto:info@example.com">dev@gmail.com</a></li>
              <div class="clearfix"></div>
            </ul>
          </address>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="footer-bottom text-center">
  <div class="container">
    <div class="footer-logo">
      <a href="index.html"><span>Re</span>sale</a>
    </div>
    <div class="footer-social-icons">
      <ul>
        <li><a class="facebook" href="#"><span>Facebook</span></a></li>
        <li><a class="twitter" href="#"><span>Twitter</span></a></li>
        <li><a class="flickr" href="#"><span>Flickr</span></a></li>
        <li><a class="googleplus" href="#"><span>Google+</span></a></li>
        <li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
</footer>
