<app-header></app-header>
<div class="main-banner banner text-center">
  <div class="container">
    <h1>Resale đi chợ điện tử</h1>
    <p>Hãy bán những gì bạn muốn và mua bất cứ gì bạn cần</p>
    <a (click)="postProduct()" style="cursor: pointer; color:white">Đăng bán miễn phí</a>
    <div class="search">
      <input #keyword type="text" id="fname" name="firstname" placeholder="Tìm kiếm sản phẩm..">
      <button (click)="searchProducts(keyword.value)" class="button">Tìm kiếm</button>
    </div>
  </div>
</div>
<!-- content-starts-here -->
<router-outlet></router-outlet>
<!-- to top -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
<div class="top-btn" (click)="onActivate($event)">
      <i class="fas fa-arrow-up"></i>
</div>
<!--footer section start-->
<app-footer></app-footer>
