<div class="submit-ad main-grid-border">
  <div class="container">
    <h2 class="head">Tải ảnh</h2>
    <div class="post-ad-form">
      <!-- <label>Chọn danh mục <span>*</span></label>

      <div class="clearfix"></div>
      <label>Ad Title <span>*</span></label>
      <input type="text" class="phone" placeholder="">
      <div class="clearfix"></div>
      <label>Ad Description <span>*</span></label>
      <textarea class="mess" placeholder="Write few lines about your product"></textarea>
      <div class="clearfix"></div>
      <div class="upload-ad-photos">
        <label>Photos for your ad :</label>
        <div class="photos-upload-view">
          <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
          <div>
            <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
            <div id="filedrag">or drop files here</div>
          </div>
          <div id="submitbutton">
            <button type="submit">Upload Files</button>
          </div>
          <div id="messages">
            <p>Status Messages</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <script src="js/filedrag.js"></script>
      </div> -->
      <form >
        <div class="personal-details">
          <label>Đường dẫn hình ảnh<span>*</span></label>
          <input type="text" #image  class="Link" placeholder="">
          <div class="clearfix"></div>
          <div class="clearfix"></div>
          <input type="submit" value="Upload hình ảnh" (click)="uploadImage(image.value)">
          <div class="clearfix"></div>
        </div>
      </form>

    </div>
  </div>
</div>
