<div class="submit-ad main-grid-border">
  <div class="container">
    <h2 class="head">Tải ảnh</h2>
    <div class="post-ad-form">
      <form  [formGroup]="imageForm" (ngSubmit)="onSubmit(imageForm.value)">
        <div class="personal-details">
          <div class="avatar" *ngIf="!inputListImage">
            <label>Avatar cho sản phẩm<span>*</span></label>
            <input type="file" #selectAvatarInput  class="Link" placeholder="">
            <div class="clearfix"></div>
          </div>
          <div class="input-url-image" *ngIf="inputListImage">
            <label>Đường dẫn hình ảnh<span>*</span></label>
            <input type="text" formControlName="imageUrl"  class="Link" placeholder="">
            <div class="clearfix"></div>
          </div>
          <input type="submit" value="Upload avatar" *ngIf="!inputListImage">
          <div class="clearfix"></div>
          <input type="submit" value="Upload hình ảnh" *ngIf="inputListImage" >
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>
</div>
