<div class="submit-ad main-grid-border">
  <div class="container">
    <h2 class="head">Đăng sản phẩm</h2>
    <div class="post-ad-form">
      <form [formGroup]="postProductForm" (ngSubmit)="postProduct(postProductForm.value)">
        <div class="personal-details">
          <div style="widows: 100%;">
            <label>Tỉnh/TP <span>*</span></label>
            <select formControlName="city_id" (change)="selectedCity($event.target.value)" class="selected-city select">
              <option value="">Chọn Tỉnh/TP</option>
              <option *ngFor="let city of cities" [value]="city.ID">{{city.Title}}</option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div style="widows: 100%;">
            <label>Quận/Huyện <span>*</span></label>
            <select class="select" formControlName="ward_id">
              <option value="">Chọn quận/huyện</option>
              <option *ngFor="let ward of wards" [value]="ward.ID">{{ward.Title}}</option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div style="widows: 100%;">
            <label>Danh mục <span>*</span></label>
            <select formControlName="category_id" class="select" (change)="selectedCategoryLevel1($event.target.value)">
              <option value="">Chọn danh mục </option>
              <option *ngFor="let category of categoriesLevel1" [value]="category._id">{{category.name}}</option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div style="widows: 100%;">
            <label>Danh mục con <span>*</span></label>
            <select formControlName="category_id_2" class="select">
              <option value="">Chọn danh mục con </option>
              <option *ngFor="let category of categoryLevel2.items" [value]="category._id">{{category.name}}</option>
            </select>
          </div>
          <div class="clearfix"></div>
          <label>Tên sản phẩm <span>*</span></label>
          <input formControlName="subject" type="text" class="Tên sản phẩm" placeholder="">
          <div class="clearfix"></div>
          <label>Số điện thoại <span>*</span></label>
          <input formControlName="phone" type="text" class="Số điện thoại" placeholder="">
          <div class="clearfix"></div>
          <label>Giá bán<span>*</span></label>
          <input type="text" formControlName="price" class="Giá bán" placeholder="">
          <div class="clearfix"></div>
          <div class="clearfix"></div>
          <label>Mô tả sản phẩm <span>*</span></label>
          <textarea class="mess" formControlName="body" placeholder="Mô tả sản phẩm"></textarea>
          <input type="submit" value="Đăng bài">
          <div class="clearfix"></div>
        </div>
      </form>

    </div>
  </div>
</div>
