<div class="single-page main-grid-border" *ngIf="product&&comment.length>0 else spinner">
  <div class="container">
    <ol class="breadcrumb" style="margin-bottom: 5px;">
      <li><a href="index.html">Home</a></li>
      <li><a href="all-classifieds.html">All Ads</a></li>
      <li class="active"><a href="mobiles.html">Mobiles</a></li>
      <li class="active">Mobile Phone</li>
    </ol>
    <div class="product-desc row">
      <div class="col-md-7 product-view">
        <h2>{{product.subject}}</h2>
        <p> <i class="glyphicon glyphicon-map-marker"></i><a href="#">state</a>, <a href="#">city</a>| Added at 06:55
          pm, Ad ID: 987654321</p>
        <div class="flexslider">
          <ul class="slides">

          </ul>
        </div>
        <!-- FlexSlider -->

        <!-- //FlexSlider -->
        <div class="product-details">
          <div class="gallery-container">
            <gallery id="basic-test" fluid [items]="items"></gallery>
          </div>
          <h4>Brand : <a href="#">Company name</a></h4>
          <h4>Views : <strong>150</strong></h4>
          <p><strong>Display </strong>: 1.5 inch HD LCD Touch Screen</p>
          <p><strong>Summary</strong> : It is a long established fact that a reader will be distracted by the readable
            content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
            normal distribution of letters, as opposed to using 'Content here, content here', making it look like
            readable English.</p>
        </div>
      </div>
      <div class="col-md-5 product-details-grid">
        <div class="item-price">
          <div class="product-price">
            <p class="p-price">Price</p>
            <h3 class="rate">{{product.price}}</h3>
            <div class="clearfix"></div>
          </div>
          <div class="condition">
            <p class="p-price">Condition</p>
            <h4>Good</h4>
            <div class="clearfix"></div>
          </div>
          <div class="itemtype">
            <p class="p-price">Item Type</p>
            <h4>Phones</h4>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="interested text-center">
          <h4>Nếu bạn quan tâm đến sản phẩm này?<small> Hãy liên hệ với người bán!</small></h4>
          <p class="d-flex" style="justify-content: center;"><span class="material-icons">
              perm_phone_msg
            </span>0977431825</p>
        </div>
        <div class="tips">
          <h4>Lời khuyên dành cho người dùng</h4>
          <ol>
            <li><a href="#">Tại sao tôi không đăng nhập được?</a></li>
            <li><a href="#">Chính sách đổi trả sản phẩm tại Resales như thế nào?</a></li>
            <li><a href="#">Làm cách nào để tôi quản lý thông tin trong tài khoản?</a></li>
            <li><a href="#">Nếu sản phẩm có kết luận là hàng giả thì Resales bảo vệ người tiêu dùng như thế nào?</a>
            </li>
            <li><a href="#">Resales sẽ xử lý các thông báo về hàng giả như thế nào?</a></li>
            <li><a href="#">Nếu nghi ngờ sản phẩm là hàng giả, tôi có được trả hàng hay không?
              </a></li>

          </ol>
        </div>
      </div>
      <div class="clearfix"></div>


      <div class="rt-container">
        <div class="col-rt-12">

          <div class="content">
            <h2>({{comment.length}}) Bình luận </h2>
            <div id="reader" style="width: 100%;">
              <ol>
                <li *ngFor="let item of comment;index as i">
                  <div class="comment_box"> <a href="#"> <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1gSZjaxStAqyNQYjvkbBRIJSAtmBfIlp7XA&usqp=CAU"
                        alt="avatar"> </a>
                    <div class="inside_comment">
                      <div class="comment-meta">
                        <div class="commentsuser">{{item.account_name}}</div>
                        <div class="comment_date">{{item.date|date : 'dd/MM/yyyy '}}</div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{item.body}}.</p>
                    </div>
                    <div class="reply" (click)="viewComment(item._id)"> <a>Xem bình luận</a> </div>
                    <div class="reply" (click)="parentReply(item)"> <a>Trả lời</a> </div>
                    <div class="arrow-down"></div>
                  </div>
                  <div class="comment_children" *ngIf="commentChildren">
                    <ul class="children"
                      *ngIf="commentChildren.items.length>0 && (commentChildren.items[0].comment_id==item._id)&&isView">
                      <h2 style="width: 90%; margin:20px auto;" *ngIf="commentChildren.items.length>0">
                        ({{commentChildren.items.length}})
                        Trả lời </h2>
                      <li *ngFor="let itemChildren of commentChildren.items">
                        <!--Comment Box 2-->
                        <div class="comment_box"> <a href="#"> <img
                              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1gSZjaxStAqyNQYjvkbBRIJSAtmBfIlp7XA&usqp=CAU"
                              alt="avatar"> </a>
                          <div class="inside_comment">
                            <div class="comment-meta">
                              <div class="commentsuser">{{itemChildren.account_name}}</div>
                              <div class="comment_date">December 1, 2012 at 1:32 am</div>
                            </div>
                          </div>
                          <div class="comment-body">
                            <p> <strong>{{itemChildren.tagUserName}}</strong> {{itemChildren.body}}</p>
                          </div>
                          <div class="reply" (click)="childrenReply(itemChildren,item.account_name)"> <a>Trả lời</a>
                          </div>
                          <div class="arrow-down"></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ol>
            </div>
            <a style="color: blue;cursor: pointer;"
              (click)="showForm()">{{!isComment?'Bình luận của bạn về sản phẩm!':'Đóng form'}}</a>
            <div id="respond">
              <form id="commentForm" [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm.value)" method="post"
                class="cmxform" *ngIf="isComment">
                <div class="commentfields">
                  <label>Nội dung: <span>*</span></label>
                  <textarea formControlName="body" id="ccomment" class="comment-textarea required"
                    name="comment"></textarea>
                </div>
                <div class="commentfields">
                  <button class="commentbtn" type="submit">Bình luận</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner-wrapper">
    <ngx-spinner type="ball-fussion" bdColor="rgba(0,0,0,0)" color="rgb(22, 193, 243)" [fullScreen]="false">
    </ngx-spinner>
  </div>
</ng-template>
