<div class="single-page main-grid-border" *ngIf="product&&comment.length>0 && customerItem else spinner">
  <div class="container">
    <ol class="breadcrumb" style="margin-bottom: 5px;">
      <li><a >Trang chủ / </a></li>
      <li><a [routerLink]="['/']"> Danh mục / </a></li>
      <li class="active"><a  [routerLink]="['/']">{{categoryName}} / </a></li>
      <li class="active"><a  [routerLink]="['/']">{{product.subject}}</a></li>
    </ol>
    <div class="product-desc row">
      <div class="col-md-7 product-view">
        <h2>{{product.subject}}</h2>
        <p> <i class="glyphicon glyphicon-map-marker"></i>{{wardName}} - {{cityName}}|
          Thời gian: {{product.date| date:'HH:mm:ss dd-MM-yyyy '}}</p>
        <div class="flexslider">
          <ul class="slides">

          </ul>
        </div>
        <div class="product-details">
          <div class="gallery-container">
            <gallery id="basic-test" fluid [items]="galleryItem"></gallery>
          </div>
          <h4><a style="color:red;cursor: pointer;font-weight: bold;" (click)="viewUser(customerItem._id)">Tên người bán : {{customerItem.fullName}}</a></h4>
          <h4>Địa chỉ : {{wardName}} - {{cityName}}</h4>
          <h4>Số lượt xem : <strong>150</strong></h4>
          <h4>Số điện thoại liên hệ : <strong>{{product.phone}}</strong></h4>
          <p><strong>Ngày đăng: </strong>: {{product.date| date:'HH:mm:ss dd-MM-yyyy '}}</p>
          <p><strong>Mô tả sản phẩm: </strong> {{product.body}}</p>
        </div>
      </div>
      <div class="col-md-5 product-details-grid">
        <div class="item-price">
          <div class="product-price d-flex">
            <p class="p-price">Giá bán</p>
            <h4>{{product.price|currency:' '}}₫</h4>
            <div class="clearfix"></div>
          </div>
          <div class="condition">
            <p class="p-price">Tình trạng</p>
            <h4>Mới 99%</h4>
            <div class="clearfix"></div>
          </div>
          <div class="itemtype">
            <p class="p-price">Loại sản phẩm</p>
            <h4>{{categoryName}}</h4>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="interested text-center">
          <h4>Nếu bạn quan tâm đến sản phẩm này?<small> Hãy liên hệ với người bán!</small></h4>
          <p class="d-flex" style="justify-content: center;"><span class="material-icons">
              perm_phone_msg
            </span>{{product.phone}}</p>
        </div>
        <div class="tips">
          <h4>Lời khuyên dành cho người dùng</h4>
          <ol>
            <li><a href="#">Tại sao tôi không đăng nhập được?</a></li>
            <li><a href="#">Chính sách đổi trả sản phẩm tại Resales như thế nào?</a></li>
            <li><a href="#">Làm cách nào để tôi quản lý thông tin trong tài khoản?</a></li>
            <li><a href="#">Nếu sản phẩm có kết luận là hàng giả thì Resales bảo vệ người tiêu dùng như thế nào?</a>
            </li>
            <li><a href="#">Resales sẽ xử lý các thông báo về hàng giả như thế nào?</a></li>
            <li><a href="#">Nếu nghi ngờ sản phẩm là hàng giả, tôi có được trả hàng hay không?
              </a></li>
          </ol>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="rt-container">
        <div class="col-rt-12">
          <div class="content">
            <h2> Bình luận sản phẩm </h2>
            <div id="reader" style="width: 100%;">
              <ol>
                <li *ngFor="let item of comment;index as i">
                  <div class="comment_box " *ngIf="item.product_id==product._id"> <a href="#"> <img
                        src={{item.avatar}}
                        alt="avatar"></a>
                    <div class="inside_comment">
                      <div class="comment-meta">
                        <div class="commentsuser">{{item.account_name}}</div>
                        <div class="comment_date">Thời gian: {{item.date|date:'HH:mm:ss dd-MM-yyyy '}}</div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{item.body}}.</p>
                    </div>
                    <div class="reply" (click)="viewComment(item._id)"> <a>Xem bình luận</a> </div>
                    <div class="reply" (click)="parentReply(item)"> <a>Trả lời</a> </div>
                    <div class="arrow-down"></div>
                  </div>
                  <div class="comment_children" *ngIf="commentChildren">
                    <ul class="children"
                      *ngIf="commentChildren.items.length>0 && (commentChildren.items[0].comment_id==item._id)&&isView">
                      <h2 style="width: 90%; margin:20px auto;" *ngIf="commentChildren.items.length>0">
                        ({{commentChildren.items.length}})
                        Trả lời </h2>
                      <li *ngFor="let itemChildren of commentChildren.items">
                        <!--Comment Box 2-->
                        <div class="comment_box"> <a href="#"> <img
                              src={{itemChildren.avatar}}
                              alt="avatar"> </a>
                          <div class="inside_comment">
                            <div class="comment-meta">
                              <div class="commentsuser">{{itemChildren.account_name}}</div>
                              <div class="comment_date">December 1, 2012 at 1:32 am</div>
                            </div>
                          </div>
                          <div class="comment-body">
                            <p> <strong>{{itemChildren.tagUserName}}</strong> {{itemChildren.body}}</p>
                          </div>
                          <div class="reply" (click)="childrenReply(itemChildren,item.account_name)"> <a>Trả lời</a>
                          </div>
                          <div class="arrow-down"></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ol>
            </div>
            <a style="color: blue;cursor: pointer;"
              (click)="showForm()" >{{!isComment?'Bình luận của bạn về sản phẩm!':'Đóng form'}}</a>
            <div id="respond">
              <form id="commentForm" [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm.value)" method="post"
                class="cmxform" *ngIf="isComment">
                <div class="commentfields">
                  <label>Nội dung: <span>*</span></label>
                  <textarea formControlName="body" id="ccomment" class="comment-textarea required"
                    name="comment"></textarea>
                </div>
                <div class="commentfields">
                  <button class="commentbtn" type="submit">Bình luận</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner-wrapper">
    <ngx-spinner type="ball-fussion" bdColor="rgba(0,0,0,0)" color="rgb(22, 193, 243)" [fullScreen]="false">
    </ngx-spinner>
  </div>
</ng-template>
