



/* ******************************************************
	Author URI: https://codeconvey.com/
	Demo Purpose Only - May not require to add.
	font-family: 'Work Sans', sans-serif;
*********************************************************/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');



html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

article, header, section, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    background:#dbf2db none repeat scroll 0 0;
    color: #222;
    font-family: "Raleway",sans-serif;
    font-size: 100%;
    line-height: 24px;
    margin: 0;
	padding:0;

}
a{
	font-family: "Raleway",sans-serif;
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
	color: #373e18;
}
section {
    float: left;
    width: 100%;
	 margin-top:3em;
	 margin-bottom:2em;
}
h2 {
    color: #1a0e0e;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
	text-transform:uppercase;
}
h2 span {
    display: block;
    padding: 0;
    font-size: 18px;
    opacity: 0.7;
    margin-top: 5px;
	text-transform:uppercase;
}

#float-right{
	float:right;
}

/* ******************************************************
	Header
*********************************************************/

.ScriptTop {
    background: #fff none repeat scroll 0 0;
    float: left;
    font-size: 0.69em;
    font-weight: 600;
    line-height: 2.2;
    padding: 12px 0;
    text-transform: uppercase;
    width: 100%;
}

/* To Navigation Style 1*/
.ScriptTop ul {
    margin: 24px 0;
    padding: 0;
    text-align: left;
}
.ScriptTop li{
	list-style:none;
	display:inline-block;
}
.ScriptTop li a {
    background: #6a4aed none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 18px;
    text-decoration: none;
    text-transform: capitalize;
}
.ScriptTop li a:hover{
	background:#000;
	color:#fff;
}


/* Header*/
.ScriptHeader {
    float: left;
    width: 100%;
    padding-top: 3em;
}
.rt-heading {
    padding-bottom: 10px;
    margin: 0 auto;
}

.ScriptHeader h1{
    color: #4a97ed;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
}
.ScriptHeader h2 {

    color: #2e7dd7;
    font-size: 24px;
    font-weight: 400;
    margin: 5px 0 0;
    line-height: normal;

}
.ScriptHeader h1 span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;
	text-transform:uppercase;
}
.ScriptHeader span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;
}




/* ******************************************************
	Live Demo
*********************************************************/





/* ******************************************************
	Responsive Grids
*********************************************************/

.rt-container {
	margin: 0 auto;
	padding-left:12px;
	padding-right:12px;
}
.rt-row:before, .rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}
[class^="col-rt-"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}


@media (min-width: 768px) {
  .rt-container {
    width: 750px;
  }
  [class^="col-rt-"] {
    float: left;
    width: 49.9999999999%;
  }
  .col-rt-6, .col-rt-12 {
    width: 100%;
  }

}

@media (min-width: 1200px) {
	.rt-container {
		width: 1170px;
	}
	.col-rt-1 {
		width:16.6%;
	}
	.col-rt-2 {
		width:30.33%;
	}
	.col-rt-3 {
		width:50%;
	}
	.col-rt-4 {
		width: 67.664%;
	}
	.col-rt-5 {
		width: 83.33%;
	}


}

@media only screen and (min-width:240px) and (max-width: 768px){
	 .ScriptTop h1, .ScriptTop ul {
		text-align: center;
	}
	.ScriptTop h1{
		margin-top:0;
		margin-bottom:15px;
	}
	.ScriptTop ul{
		 margin-top:12px;
	}

	.ScriptHeader h1,
	.ScriptHeader h2,
	.scriptnav ul{
		text-align:center;
	}
	.scriptnav ul{
		 margin-top:12px;
	}
	#float-right{
		float:none;
	}

}


/* CSS Document */



h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img{ border:none;}

p{ margin:0; padding:0;}


h1{

font-size: 36px;

font-weight:normal;
}


h2 {
  border-bottom: 4px solid #DDDDDD;
font-size: 22px;
  font-weight: normal;
  margin-bottom: 12px;
  padding-bottom: 6px;
margin-top:15px;

}
h3{
  border-bottom: 1px solid #CCCCCC;
  clear: both;

  display: block;
  font: 14px arial;
  margin-bottom: 10px;
  padding-bottom: 4px;
  padding-top: 10px;
  text-transform: uppercase;

}




/*Comments Reader*/

#reader {
  float: left;

}

#reader ol {
  margin: 0;
  padding: 0;
}

#reader li {
  list-style: none outside none;
margin-bottom:6px;
}

#reader .comment_box {
  background: none repeat scroll 0 0 #F6F6F6;
  float: left;
  margin-bottom: 20px;
  padding: 5px;
box-sizing: content-box;
border: 1px solid #CCCCCC;
width:100%;

}
#reader .arrow-down {
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #CCCCCC;
position:relative;
top:42px;
}

#reader .comment_box:hover{
border: 1px solid #127FBB;
}

#reader .comment_box img {
  border: 1px solid #C9C9C9;
  box-shadow: 0 2px 7px #DFDFDF;
  margin-right: 10px;
  padding: 3px;
float:left;
width:48px;
height:48px;
}

#reader .comment_box img:hover{
border: 1px solid #127FBB;
}

#reader .comment-meta {
  margin-bottom: 4px;
  overflow: auto;
}

#reader .commentsuser {
  float: left;
font-size: 12px;
color: #000000;
font-weight:bold;
}
#reader .comment_date {
  float: right;
  font-size: 12px;
color:#000;
}

#reader .comment-body {
  color: #848484;
  font-size: 12px;
}


#reader .reply a{
 background: -moz-linear-gradient(center top , #EFEFEF 0%, #D1D1D1 100%) repeat scroll 0 0 transparent;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 5px #CCCCCC;
  color: #183A52;
  cursor: pointer;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.02em;
  padding: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
display:block;
float:right;
}

#reader .reply a:hover{
background: #e6f5fd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZjVmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhN2Q5ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e6f5fd 0%, #a7d9f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f5fd), color-stop(100%,#a7d9f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e6f5fd 0%,#a7d9f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e6f5fd 0%,#a7d9f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e6f5fd 0%,#a7d9f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e6f5fd 0%,#a7d9f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f5fd', endColorstr='#a7d9f5',GradientType=0 ); /* IE6-8 */
border-radius: 5px 5px 5px 5px;
border: 1px solid #29B5EA;
cursor:pointer;
padding:5px;
-moz-box-shadow: 0 0 5px #ccc; -webkit-box-shadow: 0 0 5px #ccc;
box-shadow: 0 0 5px #ccc; color: #183a52; font-size: 12px; font-weight: bold; letter-spacing: -0.02em; text-decoration: none; -moz-box-text-shadow: 0 1px 0 #fff; text-shadow: 0 1px 0 #fff;
}



/*Commment Reader Child*/

#reader ul{ margin:0; padding:0;}


#reader ol li ul li {
  /* float: left; */
}


#reader ol li ul li .comment_box {
  margin-left: 5%;
  width: 95%;
}

#reader ol li ul ul li .comment_box {
  margin-left: 10%;
  width: 90%;
}


#reader ol li ul ul ul li .comment_box {
  margin-left: 15%;
  width: 85%;
}


#reader ol li ul ul ul ul li .comment_box {
  margin-left: 20%;
  width: 80%;
}



#respond{

margin:0 auto;
}


#respond p{
  margin-bottom: 20px;
}

#respond .commentfields {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}

#respond .cmxform{
width:620px;
}

#respond span{
  color: #e91450;
}

#respond label.name{
margin-right: 8px;
}
#respond label.email{
margin-right: 12px;
}
#respond label.website{
margin-right: 5px;
}
label.error { float: none; color: #E91450; padding-left: .5em; vertical-align: top; font-family: Verdana; font-size:11px;}



#respond .comment-input{
 background: rgb(237,241,244); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZjFmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(237,241,244,1) 0%, rgba(247,244,244,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,241,244,1)), color-stop(100%,rgba(247,244,244,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(237,241,244,1) 0%,rgba(247,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(237,241,244,1) 0%,rgba(247,244,244,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(237,241,244,1) 0%,rgba(247,244,244,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(237,241,244,1) 0%,rgba(247,244,244,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf1f4', endColorstr='#f7f4f4',GradientType=0 ); /* IE6-8 */

  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 5px;
width: 288px;
height: 35px;
line-height:35px;
}

#respond .comment-textarea {
background: rgb(237,241,244); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZjFmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(237,241,244,1) 0%, rgba(247,244,244,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,241,244,1)), color-stop(100%,rgba(247,244,244,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(237,241,244,1) 0%,rgba(247,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(237,241,244,1) 0%,rgba(247,244,244,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(237,241,244,1) 0%,rgba(247,244,244,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(237,241,244,1) 0%,rgba(247,244,244,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf1f4', endColorstr='#f7f4f4',GradientType=0 ); /* IE6-8 */


border: 1px solid #CCCCCC;
border-radius: 5px 5px 5px 5px;
font-family: Verdana,Arial,Helvetica,sans-serif;
font-size: 12px;
margin: 0;
overflow: hidden;
padding: 5px;
width: 100%;
float:left;
height:150px;
}

#respond .commentbtn{
background: #efefef; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #efefef 0%, #d1d1d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efefef 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efefef 0%,#d1d1d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efefef 0%,#d1d1d1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #efefef 0%,#d1d1d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-8 */

float:right;
font-family:Verdana, Arial, Helvetica, sans-serif;
border-radius: 5px 5px 5px 5px;
border: 1px solid #CCCCCC;
cursor:pointer;
padding:5px;
-moz-box-shadow: 0 0 5px #ccc; -webkit-box-shadow: 0 0 5px #ccc;
box-shadow: 0 0 5px #ccc; color: #183a52; font-size: 12px; font-weight: bold; letter-spacing: -0.02em; text-decoration: none; -moz-box-text-shadow: 0 1px 0 #fff; text-shadow: 0 1px 0 #fff;

}

#respond .commentbtn:hover{
background: #e6f5fd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZjVmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhN2Q5ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e6f5fd 0%, #a7d9f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f5fd), color-stop(100%,#a7d9f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e6f5fd 0%,#a7d9f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e6f5fd 0%,#a7d9f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e6f5fd 0%,#a7d9f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e6f5fd 0%,#a7d9f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f5fd', endColorstr='#a7d9f5',GradientType=0 ); /* IE6-8 */
border-radius: 5px 5px 5px 5px;
border: 1px solid #29B5EA;
cursor:pointer;
padding:5px;
-moz-box-shadow: 0 0 5px #ccc; -webkit-box-shadow: 0 0 5px #ccc;
box-shadow: 0 0 5px #ccc; color: #183a52; font-size: 12px; font-weight: bold; letter-spacing: -0.02em; text-decoration: none; -moz-box-text-shadow: 0 1px 0 #fff; text-shadow: 0 1px 0 #fff;
}

#respond .comment-input:hover,#respond .comment-textarea:hover{
border: 1px solid #127FBB;
}

#respond .comment-input:focus,#respond .comment-textarea:focus  {
  background: #D4EDF6;
border: 1px solid #127FBB;
}

li a{
  color: gray;
}

