<!-- <div class="row row-sort d-flex">
  <div class="col-md-3">
    <app-sort-localtion [location]="cities" (sendCity)="selectedCity($event)"></app-sort-localtion>
  </div>
  <div class="col-md-3">
    <app-sort-localtion [location]="wards"></app-sort-localtion>
  </div>
  <div class="col-md-3">
    <app-search-product></app-search-product>
  </div>
  <div class="col-md-3 d-flex">
    <button class="button-sort">
      <span class="material-icons">
        search
      </span>
    </button>
  </div>
</div> -->

<div class="post-ad-form">
  <form>
    <div class="row">
      <div class="col-md-3">
        <select class="selected-city">
          <option>Chọn Tỉnh/TP</option>
          <option>Mobiles</option>
          <option>Electronics and Appliances</option>
          <option>Cars</option>
          <option>Bikes</option>
          <option>Furniture</option>
          <option>Pets</option>
          <option>Books, Sports and hobbies</option>
          <option>Fashion</option>
          <option>Kids</option>
          <option>Services</option>
          <option>Real, Estate</option>
        </select>
      </div>
      <div class="col-md-3">
        <select class="selected-wards">
          <option>Chọn quận/huyện</option>
          <option>Mobiles</option>
          <option>Electronics and Appliances</option>
          <option>Cars</option>
          <option>Bikes</option>
          <option>Furniture</option>
          <option>Pets</option>
          <option>Books, Sports and hobbies</option>
          <option>Fashion</option>
          <option>Kids</option>
          <option>Services</option>
          <option>Real, Estate</option>
        </select>
      </div>
      <div class="col-md-3">
        <select class="selected-wards">
          <option>Chọn danh mục</option>
          <option>Mobiles</option>
          <option>Electronics and Appliances</option>
          <option>Cars</option>
          <option>Bikes</option>
          <option>Furniture</option>
          <option>Pets</option>
          <option>Books, Sports and hobbies</option>
          <option>Fashion</option>
          <option>Kids</option>
          <option>Services</option>
          <option>Real, Estate</option>
        </select>
      </div>
    </div>
  </form>
</div>
