
<div *ngIf="user else spinner">
  <h1 style="color: black">Thông tin tài khoản</h1>
  <div class="main-agileits" style="margin-top: 10%;" >

    <div class="inner-w3-agile">
      <!-- left section -->
      <div class="left-section">
        <img style="width: 100%; height: 100%;" src={{user.avatar}}>
      </div>
      <div class="right-w3-agile">
        <div class="right-info">
          <h2>{{ user.fullName}}</h2>
          <span class="designation">Thông tin</span>
          <p class="para-wthree">
            Email: {{user.email}}
          </p>
          <p class="para-wthree">
            Số điện thoại: {{user.phoneNumber}}
          </p>
          <p class="para-wthree">
            <a *ngIf="roleAccessProfile" style="cursor: pointer;" (click)="updateUser()">Chỉnh sửa thông tin của bạn</a>
          </p>

        </div>
        <div class="right-grids-w3-agileits">
          <div class="grids g1">
            <h6>
              <span>{{products.length}}</span>Bài đăng</h6>
          </div>
          <div class="grids g2">
            <h6>
              <span>6</span>Bình luận</h6>
          </div>
          <div class="grids g3">
            <h6>
              <span>218</span>Người quan tâm</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="container" style="width: 60%;margin:50px auto;">
    <ul class=" list">
      <div *ngFor="let item of products"  >
        <li class="d-flex" *ngIf="item.authenticate">
          <img [src]=item.image title="" alt="" />
          <section class="list-left">
            <h5 class="title">{{item.subject}}</h5>
            <span class="adprice">{{item.price}} ₫</span>
            <div class="d-flex ">
              <p class="catpath" style="cursor: pointer;margin-right: 20px;" (click)="viewDetail(item._id,item.ward_id)">
                Xem thông tin chi tiết </p>
              <p class="catpath" style="cursor: pointer;margin-right: 20px;color:red" (click)="deleteProduct(item._id)"
                *ngIf="roleAccessProfile">Xóa bài</p>
              <p class="catpath" style="cursor: pointer;margin-right: 20px;color:red" *ngIf="roleAccessProfile">Sản phẩm
                đã được bán</p>
            </div>
          </section>
          <section class="list-right ">
            <span class="date">Ngày đăng: {{item.date| date:' dd-MM-yyyy '}}</span>
            <span class="cityname" style="font-size: 13px;">{{item.titleWard}} -
              {{item.titleCity}}</span>
          </section>
          <div class="clearfix"></div>
        </li>
      </div>
    </ul>
  </div>

</div>

<ng-template #spinner>
  <div class="spinner-wrapper">
    <ngx-spinner type="ball-fussion" bdColor="rgba(0,0,0,0)" color="rgb(22, 193, 243)" [fullScreen]="false">
    </ngx-spinner>
  </div>
</ng-template>
