<form class="form-login">
  <div class="content-form">
    <div class="title-login">
      <h4>Đăng nhập</h4>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Tài khoản</mat-label>
      <input matInput placeholder="Tài khoản của bạn ?" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width mt-2">
      <mat-label>Mật khẩu</mat-label>
      <input matInput placeholder="Mật khẩu của bạn" value="">
    </mat-form-field>
    <div class="button-login">
      <button mat-flat-button color="primary">Đăng nhập</button>
      <button mat-flat-button color="warn" class="ml-2">Hủy</button>
    </div>
  </div>

</form>
