<div class="body">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="login">
    <div class="form-group">
      <label for="exampleInputEmail1">Tài khoản email</label>
      <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp"
        placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Mật khẩu</label>
      <input type="text" formControlName="password" class="form-control" aria-describedby="emailHelp"
        placeholder="Enter Password">
    </div>
    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Đăng nhập</button>
  </form>

</div>
