.menu{
  padding: 5px 25px;
  background-color: rgba(1, 161, 133, 0.65);
  margin-top: 20px;
  border: none;
  color: white;
}

.header-right{
   color: white;
   margin-top: 50px;
   font-weight: 600;
   cursor: pointer;
}

.icon{
  float: left;
  margin-right: 10px;
}

.account_name{
  float: left;
  background-color: rgba(1, 161, 133, 0.65);
  border: none;
  color: white;
  padding: 4px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.button-logout{
  /* margin-top: 30px;
  margin-left: -80px; */
  background-color:rgba(1, 161, 133, 0.65);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.button-logout:hover{
  background-color:rgba(1, 161, 133, 0.65);
}






@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}



.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #6394F8;
}

.container-cart nav {
  background: #F8F8F8;
  font-size: 16px;

}
.container-cart nav .navbar-left {
  float: left;
}
.container-cart nav .navbar-right {
  float: right;
}
.container-cart nav ul li {
  display: inline;
  padding-left: 20px;
}
.container-cart nav ul li a {
  color: #777777;
  text-decoration: none;
}
.container-cart nav ul li a:hover {
  color: black;
}

.container-cart {
  margin: auto;
  width: 80%;
}

.badge {
  background-color: #6394F8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 250px;
  position: relative;
  border-radius: 3px;
  padding: 40px 0;
  position: absolute;
  z-index: 9999;
  right: 20%;
  margin-top: 56px;
}




.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.container .button {
  background: #6394F8;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}
.container-cart .button:hover {
  background: #729ef9;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.shopping-cart-items li{
  color: black;
  list-style:none;
  padding:10px 0;
}

.shopping-cart-items li:hover{
 background-color:gray;
 color: white;
}

.shopping-cart-items{
  text-align: center;
}
