<div class="header">
  <div class="container">
    <div class="logo">
      <a href="index.html"><span>Re</span>sale</a>
    </div>
    <div class="header-right " *ngIf="!account">
      <button mat-button class="menu" (click)="login()">Đăng nhập</button>

    </div>
    <div *ngIf="account" class="header-right ">
      <div class="icon">
        <span class="material-icons">
          supervisor_account
        </span>
      </div>
      <div class="account_name">
        <p> Hi, {{account.fullName}}</p>
      </div>
      <button class="button-logout" mat-menu-item active="false" (click)="logOut()">Đăng xuất</button>
    </div>
  </div>
</div>
