<div class="header">
  <div class="container">
    <div class="logo">
      <a href="index.html"><span>Re</span>sale</a>
    </div>
    <div class="header-right">
    <a class="account" href="login.html">My Account</a>
    <span class="active uls-trigger">Select language</span>
<!-- Large modal -->
    <div class="selectregion">
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Select Your Region</button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;</button>
                <h4 class="modal-title" id="myModalLabel">
                  Please Choose Your Location</h4>
              </div>
              <div class="modal-body">
                 <form class="form-horizontal" role="form">
                  <div class="form-group">

                  </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      <script>
      $('#myModal').modal('');
      </script>
    </div>
  </div>
  </div>
</div>
