<div class="header">
  <div class="container">
    <div class="logo">
      <a href="index.html"><span>Re</span>sale</a>
    </div>
    <div class="header-right " *ngIf="!account">
      <button mat-button class="menu" (click)="login()">Đăng nhập</button>

    </div>
    <div *ngIf="account" class="header-right ">

      <button class="account_name d-flex" (click)='showOption()'>
        Hi, {{account.fullName}}
        <span class="material-icons">
          keyboard_arrow_down
        </span>
      </button>

      <div class="container-cart" *ngIf="showBox">
        <div class="shopping-cart">
          <ul class="shopping-cart-items mat-typography">
            <li>Sản phẩm đã xem</li>
            <li (click)="viewProfile()">Tài khoản của tôi</li>
            <li>Sản phẩm yêu thích</li>
            <li  (click)="logOut()">Thoát tài khoản</li>
          </ul>
          <!-- <button  (click)="logOut()" class="button">Đăng xuất</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
